:root {
  --primary: RebeccaPurple;
  --secondary: darkgray;
  --danger: red;
  --text-title: #333;
  --text-content: #444;
  --line-color: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
